<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Super secure website</title>
    </head>

    <body>
        Welcome to the totally secure website!

        <br>
        <a href="/post">
            <button>Make a post</button>
        <a>

        {% for post in posts %}
            <hr>
            <h2>{{ post.title }}</h2>
            <p>Created: {{ post.creation }}</p>
            <p>Posted by: {{ post.poster }}</p>
            <img src={{ post.image_url }}>
        {% endfor %}
    </body>

</html>
